
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1542979447702'); /* IE9*/
  src: url('iconfont.eot?t=1542979447702#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAP0AAsAAAAABnQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFY8oUgdY21hcAAAAYAAAABLAAABcOdTtitnbHlmAAABzAAAAEYAAAB8UKDP12hlYWQAAAIUAAAALAAAADYTWoSVaGhlYQAAAkAAAAAcAAAAJAfeA4NobXR4AAACXAAAAAgAAAAICAAAAGxvY2EAAAJkAAAABgAAAAYAPgAAbWF4cAAAAmwAAAAgAAAAIAEPADBuYW1lAAACjAAAAUUAAAJtPlT+fXBvc3QAAAPUAAAAIAAAADHG4NdxeJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2BkYWCcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGByeaT/TZm7438AQw9zA0AAUZgTJAQDj3Qw5eJxjYGBgZWBgYAZiHSBmYWBgDGFgZAABP6AoI1icmYELLM7CoARWwwISf6b9/z+MBPJZwCQDIxvDKOABkzJQHjisIJiBEQCSEAoVAHicY2BmAALmxUyrGLgZxBmUGRgYFZXUTMzMFeUYRdiYcbGb/4rxCQnxMb3iFRLixcFmyhKSFmJkBBL/PmOygLYCAEIPE4wAAHicY2BkYGAA4v1LCtjj+W2+MnCzMIDADTmFcmSahYFpFZDiYGAC8QDsBAdfeJxjYGRgYG7438AQw8IAAkCSkQEVMAEARwgCawQAAAAEAAAAAAAAAAA+AAAAAQAAAAIAJAADAAAAAAACAAAACgAKAAAA/wAAAAAAAHicZY9NTsMwEIVf+gekEqqoYIfkBWIBKP0Rq25YVGr3XXTfpk6bKokjx63UA3AejsAJOALcgDvwSCebNpbH37x5Y08A3OAHHo7fLfeRPVwyO3INF7gXrlN/EG6QX4SbaONVuEX9TdjHM6bCbXRheYPXuGL2hHdhDx18CNdwjU/hOvUv4Qb5W7iJO/wKt9Dx6sI+5l5XuI1HL/bHVi+cXqnlQcWhySKTOb+CmV7vkoWt0uqca1vEJlODoF9JU51pW91T7NdD5yIVWZOqCas6SYzKrdnq0AUb5/JRrxeJHoQm5Vhj/rbGAo5xBYUlDowxQhhkiMro6DtVZvSvsUPCXntWPc3ndFsU1P9zhQEC9M9cU7qy0nk6T4E9XxtSdXQrbsuelDSRXs1JErJCXta2VELqATZlV44RelzRiT8oZ0j/AAlabsgAAAB4nGNgYoAALgbsgImRiZGZgT0lMT8jMS+dgQEAE7oC7w==') format('woff'),
  url('iconfont.ttf?t=1542979447702') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1542979447702#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daohang:before { content: "\e62b"; }

